<configuration xmlns:x="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">

    <sitecore role:require="Standalone OR ContentManagement AND !DedicatedDispatch">

        <events timingLevel="custom">
            <event name="item:versionAdded" >
                <handler type="Sitecore.VersionManager.Handlers.VersionAddedHandler" method="OnVersionAdded"/>
            </event>
        </events>

        <pipelines>
            <getContentEditorWarnings>
                <processor type="Sitecore.VersionManager.Pipelines.GetContentEditorWarnings.HasEnoughVersion, Sitecore.VersionManager"/>
            </getContentEditorWarnings>
        </pipelines>

        <commands>
            <command name="version:clean" type="Sitecore.VersionManager.Commands.Clean, Sitecore.VersionManager" />
            <command name="version:refresh" type="Sitecore.VersionManager.Commands.Refresh, Sitecore.VersionManager" />
            <command name="version:cleanall"  type="Sitecore.VersionManager.Commands.CleanAll, Sitecore.VersionManager"/>
        </commands>

        <settings>
            <!--  Enables/disables automatic versions cleanup. Defaults to false. -->
            <setting name="VersionManager.AutomaticCleanupEnabled" value="false" />

            <!--  Sets the count of the latest versions to keep. Defaults to 5. -->
            <setting name="VersionManager.NumberOfVersionsToKeep" value="5" />

            <!--  Enables/disables a serializing of deleted versions. Defaults to true. -->
            <setting name="VersionManager.ArchiveDeletedVersions" value="true" />

            <!--  Enables/disables a warning in the Content Editor when the item already has ItemVersionManager.NumberOfVersionsToKeep (N) versions.
            Defaults to true. -->
            <setting name="VersionManager.ShowContentEditorWarnings" value="true" />

            <!--  Defines the list of templates that can/should be cleaned up by the process (comma separated)
            Defaults to empty (i.e. all templates) -->
            <setting name="VersionManager.ValidTemplates" value="" />

            <!--  Sets root items in the content tree for processing versions checking.
            Defaults to /sitecore/content/Home. -->
            <setting name="VersionManager.Roots">
                <root value="/sitecore/content/Home"/>
            </setting>

            
            <AntiCsrf cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="" enabled="true">
                <rules>
                    <rule name="shell">
                        <ignore wildcard="/sitecore/shell/*applications/versions/version*manager*\?*Cart_itemsGrid_Callback=yes" />
                    </rule>
                </rules>
            </AntiCsrf>
        </settings>
        
        <log4net>
            <!-- Sitecore Version Manager log -->
            <appender name="SitecoreVersionManagerLogAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging" role:require="Standalone OR ContentManagement AND !DedicatedDispatch">
                <file value="$(dataFolder)/logs/SitecoreVersionManager.log.{date}.txt" />
                <appendToFile value="true" />
                <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%d{yyyy/MM/dd HH:mm:ss} %-5p: %m%n"/>
                </layout>
                <encoding value="utf-8" />
            </appender>
            <logger name="SitecoreVersionManager" additivity="false" role:require="Standalong OR ContentManagement AND !DedicatedDispatch">
                <level value="DEBUG" env:require="Local or DevTest or Stage"/>
                <level value="INFO" env:require="Prod"/>
                <appender-ref ref="DAMLocationDropdownLogAppender" />
            </logger>
        </log4net>
    </sitecore>

</configuration>