<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <events timingLevel="custom">
      <event name="item:versionAdded" >
        <handler type="Sitecore.VersionManager.Handlers.VersionAddedHandler" method="OnVersionAdded"/>
      </event>
    </events>

    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.VersionManager.Pipelines.GetContentEditorWarnings.HasEnoughVersion, Sitecore.VersionManager"/>
      </getContentEditorWarnings>
    </pipelines>
    
    <commands>
      <command name="version:clean" type="Sitecore.VersionManager.Commands.Clean, Sitecore.VersionManager" />
      <command name="version:refresh" type="Sitecore.VersionManager.Commands.Refresh, Sitecore.VersionManager" />
      <command name="version:cleanall"  type="Sitecore.VersionManager.Commands.CleanAll, Sitecore.VersionManager"/>
    </commands>
  
    <settings>
      <!--  Enables/disables automatic versions cleanup. Defaults to false. -->
      <setting name="VersionManager.AutomaticCleanupEnabled" value="false" />
      
      <!--  Sets the count of the latest versions to keep. Defaults to 5. -->      
      <setting name="VersionManager.NumberOfVersionsToKeep" value="5" />
      
      <!--  Enables/disables a serializing of deleted versions. Defaults to true. -->
      <setting name="VersionManager.ArchiveDeletedVersions" value="true" />
      
      <!--  Enables/disables a warning in the Content Editor when the item already has ItemVersionManager.NumberOfVersionsToKeep (N) versions.
            Defaults to true. -->
      <setting name="VersionManager.ShowContentEditorWarnings" value="true" />
      
      <!--  Sets root items in the content tree for processing versions checking.
            Defaults to /sitecore/content/Home. -->
      <setting name="VersionManager.Roots">
        <root value="/sitecore/content/Home"/>
      </setting>

      <!--  Defines the list of templates that can/should be cleaned up by the process
            Defaults to empty (i.e. all templates) -->
      <setting name="VersionManager.ValidTemplates" value="{567A90C3-D625-4052-80BC-E9BCE20F5306},{6499C4E1-66D8-4366-B3CE-C7755D2A6A1B},{4B305226-4FB9-41A2-8C07-B4CF9A27E1B9},{3C1348D5-8A8B-4140-864B-6DB69BA12B3D},{B7AE1836-ADBB-4D4C-AD3A-AA3CA775CC70},{32FF731D-D09F-45DB-8296-6180D44A83DB}" />
      <AntiCsrf cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="" enabled="true">
        <rules>
          <rule name="shell">
            <ignore wildcard="/sitecore/shell/*applications/versions/version*manager*\?*Cart_itemsGrid_Callback=yes" />
          </rule>
        </rules>
      </AntiCsrf>
      
    </settings>
    
  </sitecore>
</configuration>